<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SnippetgrabClasslibrary.Properties.Settings.dbi356615ConnectionString"
            connectionString="Data Source=mssql.fhict.local;Initial Catalog=dbi356615;User ID=dbi356615;Password=Kipgarfield1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>