
@using System.Web.Services.Description
@model Snippetgrab.Models.UserModel

@{
    ViewBag.Title = "Welcome to Snippetgrab";
}

<h2>Users</h2>


<div class="col-md-6">
    <div class="container">
        <div class="row">

            <p class="center-block"> Gebruikers</p>
            <div class="row">
                <div class="col-lg-6">
                    <p>Naam</p>
                </div>
                <div class="col-lg-6">
                    <p>Email</p>
                </div>
            </div>

            @{
                foreach (var User in Model.Users)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <p>@User.Name</p>
                        </div>
                        <div class="col-md-6">
                            <p>@User.Email</p>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="container" style="border-style: solid;">
        <div class="row">

            <p> Messages</p>
            <div class="row">
                <div class="col-md-6">
                    <p>Text</p>
                </div>
                <div class="col-md-6">
                    <p>Sender</p>
                </div>
            </div>
            @{
                foreach (var message in Model.MessagesButBetter)
                {
                    <div class="row">
                        <div class="col-md-6">
                            @{
                                string messageToSplit = message.Key.MessageText;
                                int index = messageToSplit.IndexOf(":");
                                string link = messageToSplit.Substring(index + 1);
                                string text = messageToSplit.Substring(0, index + 1);
                            }
                            <p>@text <a href="@link">Here</a></p>
                        </div>
                        <div class="col-md-6">
                            <p>@message.Value.Name</p>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>          
