
@using System.Web.Services.Description
@model Snippetgrab.Models.UserModel

@{
    ViewBag.Title = "Welcome to Snippetgrab";
    // TODO Cretae nice home view
}

<h2>Welcome to snippetgrab</h2>
<br/>
<p>You can find all problem related stuff @Html.ActionLink("here!", "Index", "Problem", new { }, htmlAttributes: null)</p>
<p>You can find all snippet related stuff @Html.ActionLink("here!", "Index", "Snippet", new { }, htmlAttributes: null)</p>
<br/>
<p>Of course you can also use the navbar at the top to navigate.</p>
