
@{
    ViewBag.Title = "LogIn";
}

@using (Html.BeginForm("Home", "User"))
{
    <div class="text-center">
        <h1> Log in</h1><br/>
        <input type="text" name="Email" class="default" placeholder="Email"/><br/><br/>
        <input type="password" name="Password" class="default" placeholder="Password"/><br/><br/>
        <input type="submit" class="btn btn-primary" value="Login"/> <input type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("CreateAccount", "User") + "'");" class="btn btn-primary" />
    </div>
}